@{
    ViewData["Title"] = "Page d'acceuil";
}

<div class="content-div">
    <div class="content-detail">
        <h2> À propos de la boutique </h2>
        <h3> Librairie Rideau </h3>

        <div class="div-content-paragraph" >
            <p>
                Notre librairie en ligne est la solution idéale pour permettre
                aux auteurs ayant publié leur livre avec Librairie Rideau de le vendre
                en le rendant disponible rapidement partout au Canada.
            </p>

            <p>

                Notre équipe s’occupera de la réception des commandes,
                de l’impression des livres et de la livraison. 
                Vous pourrez ainsi concentrer vos efforts sur la promotion
                de votre livre en toute tranquillité.
            </p>
            
            <a asp-area="" asp-controller="Librairie" asp-action="Index"><button>Vers le magazin </button></a>
        </div>
    </div>
    <div class="image-content">
        <img src="~/img/book.jpg" class="img-acc image-slide"/>
    </div>

</div>

